/* este * significa que es universal para todos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* esto lo encontre en stack overflow y es para darle un efecto cuando bajamos clickeando un boton, solo con una linea */
  html{
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Nunito', sans-serif;
  }
  
  .home{
    background-image: linear-gradient(to top, rgb(38, 179, 167) 0%, rgb(38, 179, 167) 100%);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
  }

  .textos_home{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textos_home h1{
    font-size: 60px;
  }

  .textos_home p{
    font-size: 25px;
    margin-bottom: 20px;
  }

  /* se van a modificar todos los elementos a con esto, que esten en textos_home */
  .textos_home a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: rgb(30, 136, 127);
    border-radius: 8px;
    color: #fff;
  }

  .svg_home{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  /* estilos abarcativos para toda la pagina */
  .contenedor,
  .barra_contenedor_sitio{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
  }

  .contendor_textos_p{
    padding: 80px 0;
  }

  .titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
  }

  .titulo.izquierda{
    text-align: left;
  }

  .titulo.derecha{
    text-align: right;
  }

  .parrafo{
    text-align: justify;
    margin-bottom: 20px;
  }

  .cta{
    display: inline-block;
    text-decoration: none;
    background-image: none;
    padding: 12px 15px;
    border-radius: 8px;
    background: rgb(38, 179, 167);
    color: #fff;
  }


  /* parte de carrusel de fotos automatico */

  h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 50px;
}

.slider-frame {
	width: 400px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* fin de la parte de carrusel automatico */


  /* informacion pt2 */

.last_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  .last_section img{
    width: 48%;
  }

  .last_section .contenedor_textos_main{
    width: 40%;
  }


  @media screen and (max-width:800px){
    .textos_home h1{
        text-align: center;
        font-size: 50px;
    }

    .titulo{
        font-size: 35px;
    }

    .titulo.izquierda{
        text-align: center;
    }
    
    .info p{
        text-align: center;
    }

    /* cards */
    .card{
        width: 90%;
        margin-bottom: 20px;
    }

    /* la parte antes de contacto */
    .last_section img{
        width: 90%;
    }
    
    .last_section .contenedor_textos_main{
        width: 98%;
        margin-bottom: 20px;
    }

  }


  /* horarios y nros de contacto  */

.horarios .iconos_contenedor .iconos {
  border-radius: .5rem;
  padding: 2rem;
  text-align: center;
  background: #f7f7f7;
}

 .horarios .heading p{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
  font-size: 35px;
  background-color: rgb(38, 179, 167);
  color: #fff;
}

.heading{
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.horarios .iconos_contenedor .iconos h3 {
  font-size: 2rem;
  color: black;
  margin-top: .5rem;
}

/* fin de horarios y nros de contacto se modifico el background color*/

/* parte de productos */

.producto .heading {
  text-align: center;
  padding: 25px 0px;
  
}

.producto .contenedor_postre {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.producto .contenedor_postre .postre {
  border-radius: .5rem;
  position: relative;
  background: #f7f7f7;
  padding: 2rem;
  text-align: center;
}

.producto .contenedor_postre .postre .image {
  margin: 1rem 0;
}

.producto .contenedor_postre .postre .image img {
  height: 15rem;
}

.producto .contenedor_postre .postre .content h3 {
  font-size: 2rem;
  color: black;
}

.producto .contenedor_postre .postre .content .precio {
  font-size: 2rem;
  color: black;
}

.producto .contenedor_postre .postre .content .btn {
  display: inline-block;
  text-decoration: none;
  background-image: none;
  padding: 12px 15px;
  border-radius: 8px;
  background: rgb(38, 179, 167);
  color: #fff;
}

/* fin de parte de los productos (fue modificado los botones y el color de los productos) ---------------- */






  /* contacto------------- */

  .container {
    display: flex;
    flex-direction: row;
  }

  /* imagen del logo */
  
  .container .image img {
    width: 100%;
    object-fit: 30%;
    margin-bottom: 20px;
    display: block;
    cursor: pointer;
    overflow: hidden;
  }

  /* estilo para la seccion de contacto */
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 70%;
    /* max-width: 400px; */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 80px;
  }
  
  

  .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  form div input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  form div {
    position: relative;
    margin-bottom: 15px;
  }
  
  input:focus {
    border: 2px solid #f2796e;
  }
  
  /* las reglas para la parte de contacto y botones */
  
  
  .question {
    font-size: 15px;
  }
  
  span {
    color: rgb(51, 255, 0);
    cursor: pointer;
  }
  
  /* los estilosp ara los botones, error, fallo success */
  
  form div i {
    position: absolute;
    padding: 10px;
  }
  
  .success-icon,
  .failure-icon {
    right: 0;
    opacity: 0;
  }
  
  .failure-icon,
  .error {
    color: red;
  }
  
  .success-icon {
    color: green;
  }
  
  .error {
    font-size: 14.5px;
    margin-top: 5px;
  }
  
  /* los estilos para el boton de ingresar */
  
  button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: rgb(38, 179, 167);
    border: 2px solid rgb(38, 179, 167);
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* media queries */
  
  @media (max-width: 900px) {
    .container {
      flex-direction: column;
    }
  
    form,
    .content {
      width: 100%;
    }
  
    .btn {
      flex-direction: column;
    }
    .image {
      height: 50vh;
    }
  }
  
  @media (max-width: 425px) {
    form {
      padding: 20px;
    }
  }

  .link {
    text-decoration: none;
    color: green;
  }

  .link:hover{
    opacity: 0.8;
  }
  
  /* fin de parte de contacto --------------- */

  /* parte del footer */

      /* footer */



  footer{
    background: rgb(38, 179, 167);
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
  }
  .contenedor_footer{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
  }
  .contenedor_footer h3{
      font-size: 1.8rem;
      font-weight: 400;
      text-transform: capitalize;
      line-height: 3rem;
  }
  .contenedor_footer p{
      max-width: 500px;
      margin: 10px auto;
      line-height: 28px;
      font-size: 14px;
  }
  .redes{
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0 3rem 0;
  }
  .redes li{
      margin: 0 10px;
  }
  .redes a{
      text-decoration: none;
      color: #fff;
  }
  .redes a i{
      font-size: 1.1rem;
      transition: color .4s ease;
  
  }
  .redes a:hover i{
      color: rgb(30, 136, 127);
  }
  
  .abajo_footer{
      background: rgb(30, 136, 127);
      width: 100vw;
      padding: 20px 0;
      text-align: center;
  }
  .abajo_footer p{
      font-size: 14px;
      word-spacing: 2px;
      text-transform: capitalize;
  }
  .abajo_footer span{
      text-transform: uppercase;
      opacity: .4;
      font-weight: 200;
  }
  /* fin del copyright */
  
  /* esto es para el boton del PDf */

  .btnCrearPdf {
    width: 5%;
  }
    
    /* fin de la parte del boton del PDF (que al final no funciono) */

  

    